{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "bracketSameLine": false
      }
    }
  ]
}
